.navbar-left {
  position: fixed;
  top: 0;
  left: 0;

  height: 100vh;
  width: 20vw;

  background-color: var(--card-background);

  box-shadow: 4px 0 5px var(--shadow);

  &__header {
    text-align: center;
    padding: 1rem;

    border-bottom: 1px solid var(--lines);
  }

  &__body {
    margin-top: 2rem;

    ul {
      list-style: none;

      li {
        padding: 1rem 2rem;
        font-size: 1.5rem;

        a {
          color: var(--color);
        }
      }
    }
  }
}