@media (prefers-color-scheme: light) {
  :root {
    --background-color: #F3F5F6;
    --color: #161B1D;
    --headline: #161B1D;

    --card-background: #F3F5F6;

    --black-elements-colors: 0, 0, 0;
    --lines: rgba(var(--black-elements-colors), .49);
    --shadow: rgba(var(--black-elements-colors), .25);

    --link-color: #004C9E;
    --link-hover-color: #003670;
  }

  .navbar-left {
    box-shadow: none;
    border-right: 1px solid var(--lines);
  }
}
