body, html {
  margin: 0;
  padding: 0;
}

body {
  color-scheme: light dark;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 18px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  background: var(--background-color);
  color: var(--color);
}

h1 {
  color: var(--headline);
}

a {
  font-weight: 500;
  color: var(--link-color);
  text-decoration: inherit;
  &:hover {
    color: var(--link-hover-color);
  }
}

.page-content {
  margin-left: 20vw;
  padding: 2rem 2rem .5rem;
}

.inline-code {
  padding: 0.2rem 0.6rem;
  margin-left: .4rem;
  margin-right: 0.4rem;

  border-radius: 4px;
  background-color: var(--code-element-bg);
  color: var(--code-element-textColor);

  box-shadow: 2px 2px 2px var(--code-element-shadow-color);
}

@media screen and (max-width: 1050px) {
  .page-content {
    margin-left: 0;
    padding: 0 1rem 11vh;
  }
}

@import "./style/black_theme.scss";
@import "./style/light_theme.scss";